/* --------------------------------------- */
/* Color Scheme For Site */
/* --------------------------------------- */

 $primary-color: #2980b9;
 $main-font : "Montserrat";

/* --------------------------------------- */
/* Basic Setup */
/* --------------------------------------- */

* {
    padding: 0;
    border: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    transition: all .5s;
}

body, 
html {
    width: 100%;
    height: 100%;
    font-family: $main-font;
}

.row {   
    max-width: 1140px;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

a {
    display: block;
    height: 100%;
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

h1, 
h2, 
h3 {
    text-transform: uppercase;
    text-align: center;
}

h1 {
    font-size: 28px;
    line-height: 28px;
}

h2 { font-size: 24px; }

h3 { 
    margin-top: 5px; 
    font-size: 16px;
}

h3 {
    a:hover {
        color: $primary-color;
    }
}

.title {
    margin-bottom: 20px;
    text-align: center;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

/* --------------------------------------- */
/* Header Section */
/* --------------------------------------- */

.header-main {
    position: relative;
    width: 90%;
    margin: 1.5% auto 0;
}

.intro {
    display: inline-block;

    h1 { 
        display: inline-block; 
    }

    p { 
        display: inline-block; 
        padding-left: 5px;
        font-size: 14px;
        text-transform: uppercase;
        color: #000;
    }
}

/* --------------------------------------- */
/* Nav Section */
/* --------------------------------------- */


nav {
    position: absolute;
    display: inline-block;
    right: 0;
    bottom: 0;
}

.nav-list-container h3{
    display: none;
}

.nav-list {
    li {  
        display: inline-block;
        margin-left: 10px;
        text-transform: uppercase;
        list-style-type: none;
        font-weight: bold;

        &:first-child {
            margin-left: 0;
        }

        a {
            position: relative;
            color: #000;
            
            &:hover {
                color: $primary-color;
            }
    
            &::after {
                content: "";
                position: absolute;
                width: 0;
                height: 2px;
                border-bottom: 2px solid $primary-color;
                margin-top: 20px;
                left: 0;
                right: 0;
                transition: all .5s;
            }
    
            &:hover::after {
                width: 30px;
            }
        }
    }
}

/* --------------------------------------- */
/* Grid Container for Projects */
/* --------------------------------------- */

.projects-grid {
    margin: 8% auto 0;
    width: 90%;

    .title {
        margin-bottom: 20px;
        text-align: center;
    }

    h1 {
        display: inline-block;
    }

    .grid-1 {
        margin-bottom: 4%;

        .grid-1-of-3 {
            position: relative;
            width: 31.33%;
            float: left;
            overflow: hidden;

            &:first-child {
                margin-left: 0;
            }

            &:first-child,
            &:nth-child(2) {
                margin-right: 3.005%;
            }

            &:last-child {
                margin-right: 0;
            }

            &:hover h3 a {
                color: $primary-color;
            }
        }
    }

    .grid-2 {
        width: 31.33%;
        float: left;
    
        .box-cont {
            position: relative;
            width: 100%;

            &:first-child {
                margin-bottom: 4%;
            }

            &:hover a {
                color: $primary-color;
            }
        }
    }

    .grid-2-of-3 {
        position: relative;
        width: 65.556%;
        float: right;
    
        .box-cont {
            overflow: hidden;

            .big-box {
                position: relative;
                width: 100%;
                height: 100%;
                overflow: hidden;
                
                &:hover {
                    a:first-child {
                        transform: scale(1.05);
                    }
                }
                
                .box-overlay.big-overlay {
                    height: 100%;

                    .text-overlay {
                        p {
                            left: -390px;
                        }
                    }

                    &:hover {
                        .text-overlay {
                            h3 {
                                left: 0;
                            }
    
                            p {
                                transition-delay: .5s;
                                left: 0;
                            }
                        }
                    }
                }
            }
        }
    }

    /* --------------------------------------- */
    /* grid [global] css selectors  */
    /* --------------------------------------- */

    .box-1 {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
    
        &:hover img {
            transform: scale(1.05);
        }
    }

    .box-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        transition: opacity .5s;
        background-color: #000;
        cursor: pointer;
        
        &:hover {
            opacity: .8;
            transition: opacity .5s;
        } 

        .text-overlay {
            overflow: hidden;

            h3 {
                position: relative;
                padding: 10px 0 0 20px;
                left: -200px;
                font-family: $main-font;
                color: #fff;
                text-align: left;
            }

            p {
                position: relative;
                padding: 0 20px 0;
                margin-top: 10px;
                left: -450px;
                font-size: 13px;
                color: #fff;
                text-align: left;

                &::after {
                    content: "";
                    display: block;
                    width: 0;
                    border-bottom: 2px solid #2980b9;
                    margin-top: 10px;
                    transition: width .5s;
                }
            }  
        } 

        
        &:hover {
            .text-overlay {
                h3 {
                    left: 0;
                }

                p {
                    transition-delay: .5s;
                    left: 0;

                    &::after {
                        transition-delay: 1.2s;
                        width: 40px;
                    }
                }
            }
        } 
    }
} 

/* --------------------------------------- */
/* Grid Container for Skills */
/* --------------------------------------- */

.grid-row {
    margin-bottom: 5%;

    .grid-row:last-child {
        margin-bottom: 0;
    }

    .grid-3-row-container {
        display: flex;
        width: 100%;
        height: auto;
        flex-flow: row nowrap;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;

        .grid-3 {
            width: 100%;
        }
    }
}

/* --------------------------------------- */
/* Skills Section */
/* --------------------------------------- */ 

.skills {
    position: relative;
    width: 90%;
    margin: 8% auto 0;

    .title h2 {
        font-size: 24px;
        margin-bottom: 20px;
        text-align: center;
    }

    h3 {
        display: inline-block;
        vertical-align: top;
        font-size: 12px;
        font-weight: bold;
        text-align: center;
    }

    .grid-3-row-container {
        .grid-3 {
            &.html {
                span, h3 {
                    color: #e67e22;
                }

                .bar {
                    border-color: #e67e22;

                    .color-in-bar {
                        background: linear-gradient(#fff 0%, #e67e22 100%);

                        &.color-in-bar-now{
                            width: 90%;
                        }
                    }
                }
            }

            &.css {
                text-align: center;

                span, h3 {
                    color: #2980b9;
                }

                .bar {
                    border-color: #2980b9;

                    .color-in-bar {
                        background: linear-gradient(#fff 0%, dodgerblue 100%);

                        &.color-in-bar-now {
                            width: 85%;
                        }
                    }
                }
            }

            .icons {
                margin-right: 2px;
                font-size: 4.5vw;
                color: #fff;
            }

            &.js {
                text-align: right;

                span, h3 {
                    color: #f1c40f;
                }

                span {
                    margin-right: 6px;
                }

                .bar {
                    border-color: #f1c40f;

                    .color-in-bar {
                        background: linear-gradient(#fff 0%, #f1c40f 100%);

                        &.color-in-bar-now {
                            width: 85%;
                        }
                    }
                }
            }

            &.jquery {
                span, h3 {
                    color:#3498db;
                }

                .bar {
                    border-color: #3498db;

                    .color-in-bar {
                        background: linear-gradient(#fff 0%, #3498db 100%);

                        &.color-in-bar-now {
                            width: 80%;
                        }
                    }
                }
            }

            &.sass {
                text-align: center;

                span, h3 {
                    color: #D2527F;
                }

                img {
                    display: inline-block;
                    width: 80px;
                    margin: 0 auto;
                }

                .bar {
                    border-color: #D2527F;

                    .color-in-bar {
                        background: linear-gradient(#fff 0%, #D2527F 100%);

                        &.color-in-bar-now {
                            width: 85%;
                        }
                    }
                }
            }

            &.git {
                text-align: right;

                span, h3 {
                    color: #000;
                }

                .bar {
                    border-color: #000;
                    
                    .color-in-bar {
                        background: linear-gradient(#fff 0%, #000 100%); 

                        &.color-in-bar-now {
                            width: 70%;
                        }
                    }
                }
            }

            &.heroku {
                img {
                    display: inline-block;
                    width: 70px;
                }

                h3 {
                    color: #8e44ad;
                }

                .bar {
                    border-color: #8e44ad;

                    .color-in-bar {
                        background: linear-gradient(#fff 0%, #9b59b6 100%);

                        &.color-in-bar-now {
                            width: 70%;
                        }
                    }
                }
            }

            &.bootstrap {
                text-align: center;

                img {
                    display: inline-block;
                    width: 65px;
                    margin: 0 auto;
                }

                h3 {
                    color: #8e44ad;
                }

                .bar {
                    border-color: #8e44ad;

                    .color-in-bar {
                        background: linear-gradient(#fff 0%, #8e44ad 100%);

                        &.color-in-bar-now {
                            width: 85%;
                        }
                    }
                }
            }

            &.nodejs {
                text-align: right;

                span, h3 {
                    color: #27ae60;
                }

                .bar {
                    border-color: #27ae60;
                }

                .color-in-bar {
                    background: linear-gradient(#fff 0%, #27ae60 100%);

                    &.color-in-bar-now {
                        width: 40%;
                    }
                }
            }

            .bar {
                width: 80%;
                height: 20px;
                border: 2px solid #000;
                border-radius: 4px;
                margin: 10px auto 0;
                text-align: center;

                &.bar-one {
                    margin-left: 0;
                }

                &.bar-three {
                    margin-right: 0;
                }
                
                .color-in-bar {
                    width: 0%;
                    height: 16px;

                    &.color-in-bar-now {
                        transition: width 1.5s;
                    }
                }
            }
        }
    }
}

/* --------------------------------------- */
/* About Me Section */
/* --------------------------------------- */ 

section.about-me {
    width: 100%;
    margin: 8% auto 0;
    overflow: hidden;

    .timeline {
        margin: 0 auto;

        .progress-bar {

            li {
                position: relative;
                float: left;
                width: 45%;
                list-style-type: none;
                text-align: center;

                &.grid-5 {
                    display: inline-block;
                    margin-bottom: 60px;
                }

                &.grid-5:nth-child(5), &.grid-5:last-child {
                    margin-bottom: 0;
                }

                &::before {
                    content: "";
                    display: block;
                    width: 50px;
                    height: 50px;
                    border: 2px solid #000;
                    border-radius: 50%;
                    margin: 0 auto 20px;
                    line-height: 50px;
                    text-align: center;
                    background-color: #fff;
                    z-index: 10;

                }

                &.active {
                    color: #27ae60;
                }

                &.active::before {
                    border-color: #27ae60;
                }

                &:first-child::before {
                    content: "1";
                }

                &:nth-child(2)::before {
                   content: "2";
                }

                &:nth-child(3)::before {
                    content: "3";
                }

                &:nth-child(4)::before {
                    content: "4";
                }

                &:nth-child(5)::before {
                    content: "5";
                }

                &:last-child::before {
                    content: "6";
                }

                &::after {
                    content: '';
                    position: absolute; 
                    width: 0%;
                    height: 2px;
                    top: 25px;
                    left: -50%;
                    z-index: -1;
                }

                &::first-child::after {
                    content: none;
                }

                &.active + &::after {
                    background-color: #2ecc71;
                }
            }
        }

        .progress-bar-animation {
            .progress-bar {
                li {
                    &:nth-child(2)::after {
                        transition: width 3s linear;
                        width: 400%;
                        background-color: #2ecc71;
                    }

                    &:nth-child(3)::after {
                        transition: width 3s linear;
                        transition-delay: 1.4s;
                        width: 400%;
                        background-color: #2ecc71;
                    }

                    &:nth-child(5)::after {
                        transition: width 2s linear;
                        transition-delay: 3.5s;
                        width: 200%;
                        background-color: #2ecc71;
                    }
                }
            }
        }
    }
}

/* --------------------------------------- */
/* Footer Section */
/* --------------------------------------- */ 

footer {
    position: relative;
    width: 90%;
    margin: 8% auto 0;

    .title {
        content: "Contact Me";
        display: block;
        margin-bottom: 20px;
    }

    .form-container {
        width: 40%;
        margin-right: 20%;
        text-align: center;
        float: left;

        .footer-info h3 {
            font-size: 20px;
            text-align: left;
        }

        form {
            margin-top: 5%;
            text-align: center;

            .input-container, 
            .email-container, 
            .phone-container, 
            .message-container {
                position: relative;
                margin-bottom: 30px;
            }

            .input-container::after, 
            .email-container::after, 
            .phone-container::after, 
            .message-container::after {
                content: "";
                display: block;
                border-bottom: 2px solid #000;
            }

            input, textarea {
                width: 100%;
                padding: 3px 0;
                margin-bottom: 5px;
                background-color: transparent;
                color: #000;
                font-size: 16px;
                z-index: 1000;
            }

            input:focus, textarea:focus{
                outline: none;
                font-size: 16px;
            }

            .animated-label {
                position: absolute;
                margin: 0;
                top: 0;
                left: 0;
                bottom: 0;
                cursor: text;
                transition: 0.2s ease all;
                -webkit-user-select: none;
                -moz-user-select: none;
                user-select: none;
            }
        }
    }
}











form #input-name:focus ~ .animated-label, form #email-input:focus ~ .animated-label,
form #phone-input:focus ~ .animated-label, form #message-input:focus ~ .animated-label {
    top: -15px;
    color: #2980b9;
    font-size: 12px;
}

.not-empty {
    top: -15px;
    font-size: 12px;
    color: #2980b9;
}

.email-container, .message-container {
    margin-top: 5px;
}

label {
    font-family: $main-font;
    text-transform: uppercase;
    font-weight: bold;
}

.g-recaptcha {
    margin-top: 7px;
}

.submit-container {
    padding: 10px;
    border: 2px solid #000;
    border-radius: 8px;
    margin: 25px 0 50px;
    text-align: center;
    cursor: pointer;
}

.submit {
    margin-bottom: 0;
    font-size: 16px;
    color: #000;
    text-transform: uppercase;
    cursor: pointer;
}

.submit-container:hover {
    border-color: #2980b9;
    transition: border-color 1s;
}

.submit-container:hover input{
    color: #2980b9;
    transition: color .5s;
}



/* Social icons */

.social-icons-container {
    width: 40%;
    padding-left: 11%;
    float: right;
}

.social-icons-container .title h3 {
    font-size: 20px;
    text-align: right;
}

.social-icons-container ul {
    margin-top: 15px;
}

.social-icons-container li {
    margin-bottom: 50px;
    list-style-type: none;
    text-align: right;
}

.social-icons-container a {
    display: inline-block;
    height: 45px;
}

i {
    color: #000;
}

.i-text {
    position: relative;
    display: inline-block;
    height:100%;
    margin-left: 10px;
    vertical-align: middle;
    font-family: $main-font;
    font-size: 15px;
}

.social-icons-grid a p::after {
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 50%;
    border-bottom: 2px solid #2980b9;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.social-icons-grid a:hover p::after {
    width: 20px;
    transition: width 1s;
}

.github:hover {
    color: #bdc3c7;
}

.codepen {
    color: #e67e22;
}

.codepen:hover {
    color: #d35400;
}

.linkedin {
    color: #2980b9;
}

.linkedin:hover {
    color:#3498db;
}

.pdf {
    color: #e74c3c;
}

.pdf:hover {
    color: #c0392b;
}


/* --------------------------------------- */
/* Media Queries */
/* --------------------------------------- */ 

/* Big tablet to 1200px (widths smaller than the 1140px row) */
@media only screen and (max-width: 1200px){
    
    .skills .sass img {
        width: 65px;
    }
    
    .skills .heroku img {
        width: 60px;
    }
    
    .skills .bootstrap img {
        width: 55px;
    }
    

}

/* Small tablet to big tablet: from 763px to 1023px */
@media only screen and (max-width: 1023px){
    
    .nav-list li {
        font-size: 1.56vw;
        line-height: 1.56vw;
    }
    
    .skills .grid-3.sass img,
    .skills .grid-3.bootstrap img,
    .skills .grid-3.heroku img {
        width: 50px;
    }
    
    section.about-me {
        width: 100%;
    }
    
    .form-container {
        width: 50%;
        margin-right: 10%;
    }
    
    .animated-label, .submit {
        font-size: 14px;
    }
    
    footer .footer-info h3 {
        font-size: 18px;
    }
    
    .social-icons-container {
        padding-left: 0;
    }
    
    .social-icons-container .title h3 {
        font-size: 18px;
    }
    
    
}

/* Small phones to small tablets from 481px to 767px */
@media only screen and (max-width: 767px){
    
    header .intro {
        float: left;
    }
    
    header .intro p {
        display: block;
        padding-left: 0;
    }
    
    header nav {
        position: relative;
        margin-top: 1%;
        float: right;
    }
    
    header .nav-list li {
        display: block;
        margin: 0 0 15% 0;
        font-size: 16px;
        line-height: 16px;
    }
    
    .nav-list li a::after {
        margin-top: 15px;
    }
    
    .grid-1-of-3 {
        width: 100%;
        margin-bottom: 5%;
    }
    
    .grid-2, .grid-2-of-3 {
        width: 100%;
    }
    
    .grid-2 .box-cont:first-child, 
    .grid-2 .box-cont {
        margin-bottom: 5%;
    }
    
    
    .skills .grid-3-row-container {
        display: block;
    }
    
    .skills .grid-3 {
        margin-bottom: 5%;
    }
    
    .skills .grid-3 .icons {
        font-size: 30px;
    }
    
    .skills .grid-3 .bar {
        width: 100%;
    }
    
    .skills .grid-3.sass img,
    .skills .grid-3.heroku img {
        width: 40px;
    }
    
    .skills .grid-3.bootstrap img {
        width: 30px;
    }
    
    .progress-bar li {
        font-size: 13px;
        line-height: 13px;
    }
    
    .progress-bar li::before {
        width: 35px;
        height: 35px;
        line-height: 35px;
    }
    
    .progress-bar li::after {
        top: 20px;
    }
    
    .form-container {
        margin-right: 0;
    }
    
    .form-container, .social-icons-container {
        width: 100%;
        float: none;
    }
    
    footer .form-container h3 {
        font-size: 16px;
    }
    
    footer .social-icons-container .title h3 {
        text-align: center;
    }
    
    footer .social-icons-container li {
        width: 40%;
        text-align: center;
        float: left;
    }
    
    footer .social-icons-container li:first-child,
    footer .social-icons-container li:nth-child(3) {
        margin-right: 20%;
    }
}

/* Small phones from 0 to 480px */
@media only screen and (max-width: 480px){
    
    .header-main {
        margin: 5% auto 0;
    }
    
    header .nav-list li {
        font-size: 14px;
        line-height: 14px;
    }
    
    .grid-1-of-3 {
        margin-bottom: 7%;
    }
    
    .grid-2 .box-cont:first-child, .grid-2 .box-cont {
        margin-bottom: 7%;
    }
    
    .social-icons-grid ul li .i-text {
        display: block;
        margin-left: 0;
    }
    
}

