/* --------------------------------------- */
/* Color Scheme For Site */
/* --------------------------------------- */

 $primary-color: #2980b9;
 $main-font : "Montserrat";

/* --------------------------------------- */
/* Basic Setup */
/* --------------------------------------- */

.planType {
    display: none !important;
}

* {
    padding: 0;
    border: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    transition: all .5s;
}

html {
    width: 100%;
    height: 100%;
    font-family: $main-font;
    -webkit-tap-highlight-color: transparent;
}

.row {   
    max-width: 1140px;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

a {
    display: block;
    height: 100%;
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

h1, 
h2, 
h3, 
h4, 
h5,
h6 {
    text-align: center;
    font-family: Acme;
}

h1 {
    font-size: 28px;
    line-height: 28px;
}

h2 { font-size: 40px; }

h3 { 
    margin-top: 5px; 
    font-size: 19px;
}

h3 {
    a:hover {
        color: $primary-color;
    }
}

.title {
    margin-bottom: 20px;
    text-align: center;
}

img {
    display: block;
    width: 100%;
    height: auto;
}


/*******************************/
/* Floating back-to-top */
/*******************************/

// btn background
a.btt {
    display: none;
    position: fixed;
    z-index: 999;
    width: 50px;
    height: 50px;
    right: 55px;
    bottom: 50px;
    background: #000;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    box-shadow: 3px 3px 10px rgba(23, 25, 25, 0.2);
    transition: transform 0.3s ease-in-out;
  } 
  
  // btn arrow
  a.btt i {
    color: #fff;
    position: relative;
    top: 14px;
    left: 18px;
  } 
  
  a.btt:hover{
    transform: translatey(-10%);
  }

/* --------------------------------------- */
/* Body Section */
/* --------------------------------------- */

.animated-mario-container.first-mario {
    position: fixed;
    right: -150px;
    top: 105px;
    z-index: 1000;

    img {
        width: 125px;
        height: auto;
    }
}

.animated-luigi-container {
    position: fixed;
    top: 500px;
    left: -150px;
    z-index: 1000;

    img {
        width: 150px;
        height: auto;
    }
}


.animated-bowser-container {
    position: fixed;
    top: 900px;
    right: -150px;
    z-index: 1000;

    img {
        width: 150px;
        height: auto;
    }
}

/* --------------------------------------- */
/* Header Section */
/* --------------------------------------- */

header.header-main {
    position: absolute;
    width: 90%;
    margin: 1.5% auto 0;

    .intro {
        display: inline-block;
        position: fixed;
        width: auto;
        left: 50px;
        z-index:10000;
        
        
    
        h1 { 
            display: inline-block; 
            color: #fff;
            text-shadow: 2px 4px 3px rgba(0,0,0,0.9);
        }
    
        p { 
            display: inline-block; 
            padding-left: 5px;
            font-size: 14px;
            text-transform: uppercase;
            color: #fff;
            text-shadow: 2px 4px 3px rgba(0,0,0,0.9);
        }
    }

    .customBGDesktop {
        padding: 10px 10px;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

        h1 {
            color: #000;
            text-shadow: none;
        }

        p {
            color: #000;
            font-weight: bold;
            text-shadow: none;
        }

        .above-navigation-bar {
            padding-bottom: 0;
        }

        .Phone-number-container {

            i {
                color:#2ecc71;
            }

            a {
                color: #000;
                text-shadow: none;
            }
        }
    }

    .above-navigation-bar {
        padding: 10px 0;

        i {
            color: #fff;
        }

        a {
            display: inline-block;
            font-family: Acme;
            font-size: 18px;
            color: #fff;
            text-shadow: 2px 4px 3px rgba(0,0,0,0.9);
        }
    }
}

/* --------------------------------------- */
/* Nav Section */
/* --------------------------------------- */


nav {
    position: relative;
    display: block;
    right: 0;
    bottom: 0;
    text-align: right;
    width: 100%;

    .nav-list-container {
        h3{
            display: none;
        }

        .nav-list {
            li {  
                display: inline-block;
                margin-left: 10px;
                text-transform: uppercase;
                list-style-type: none;
                font-weight: bold;
               
        
                &:first-child {
                    margin-left: 0;
                }
        
                a {
                    position: relative;
                    color: #fff;
                    text-shadow: 2px 4px 3px rgba(0,0,0,0.9);
                    
                    &:hover {
                        color: $primary-color;
                    }
            
                    &::after {
                        content: "";
                        position: absolute;
                        width: 0;
                        height: 2px;
                        border-bottom: 2px solid $primary-color;
                        margin-top: 20px;
                        left: 0;
                        right: 0;
                        transition: all .5s;
                    }
            
                    &:hover::after {
                        width: 30px;
                    }
                }
            }
        }
    }
}

/* --------------------------------------- */
/* Main Section Background */
/* --------------------------------------- */

    .intro-section-bg {
        display: flex;
        background-image: url("/assets/Client Website Images/background-image-folder/ilwebdesign-background-image.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 100vh;

        .intro-text {
            display: flex;
            width: 40%;
            padding: 10px 40px;
            flex-direction: column;
            align-items: left;
            justify-content: center;

            h1 {
                margin-bottom: 10px;
                font-size: 4rem;
                line-height: 4rem;
                text-align: left;
                color: #fff;
                text-shadow: 2px 4px 3px rgba(0,0,0,0.9);
            }
    
            p {
                line-height: 23px;
                color: #fff;
                font-weight: bold;
                text-shadow: 2px 4px 3px rgba(0,0,0,0.9);
            }
        }

       
    }

/* --------------------------------------- */
/* Grid Container for Projects */
/* --------------------------------------- */
/*
@-webkit-keyframes levitate {
    0% {
    top: 100px;
    -webkit-transform:scale(0.9);
    }
  
    50% {
    top: 100px;
    -webkit-transform:scale(1.0);
    }
  
    100% {
    top: 100px;
    -webkit-transform: scale(0.9);
    }
}  
*/
.projects-grid {
    margin: 8% auto 0;
    width: 90%;
    text-align: center;

    .title {
        margin-bottom: 20px;
        text-align: center;
    }

    h1 {
        display: inline-block;
    }


    .grid-1 {
        display: inline-block;
        position: relative;
        width: 49%;
        margin-bottom: 15%;
        padding: 0 2%;

        &:hover {
            .smaller-image-container {
                transform: scale(1.05);
            }
        }

        .image-container {
            display:inline-block;
            width: 100%;
            margin: 0 auto;
            box-shadow: rgba(0, 0, 0, 0.44) 0px 3px 8px;
     
        }
       
        .smaller-image-container {
            position: absolute;
            width: 50%;
            top: 80%;
            left: 25%;
            box-shadow: rgba(0, 0, 0, 0.44) 0px 3px 8px;


            animation-name: levitate;
            -webkit-animation-duration: 5s !important;
            -webkit-animation-iteration-count: infinite;
            -webkit-transition-timing-function: ease;
            -webkit-animation-fill-mode: forwards;
            -webkit-animation-ease: ease-in;
            
            
        }
    }

    .grid-2 {
        width: 31.33%;
        float: left;
    
        .box-cont {
            position: relative;
            width: 100%;

            &:first-child {
                margin-bottom: 4%;
            }

            &:hover a {
                color: $primary-color;
            }
        }
    }

    .grid-2-of-3 {
        position: relative;
        width: 65.556%;
        float: right;
    
        .box-cont {
            overflow: hidden;

            .big-box {
                position: relative;
                width: 100%;
                height: 100%;
                overflow: hidden;
                
                &:hover {
                    a:first-child {
                        transform: scale(1.05);
                    }
                }
                
                .box-overlay.big-overlay {
                    height: 100%;

                    .text-overlay {
                        p {
                            left: -1000px;
                        }
                    }

                    &:hover {
                        .text-overlay {
                            h3 {
                                left: 0;
                            }
    
                            p {
                                transition-delay: .5s;
                                left: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}


/* --------------------------------------- */
/* My Services Grid  */
/* --------------------------------------- */

    .services-section {
        padding: 65px 50px;
        background-color: #EFF6FF;

        .services-container {
            max-width: 1140px;
            margin: 0 auto;

            .section-1 {
                display: flex;
            }

            .first-row {
                width: 48%;
            }


            .text-grid h3, .text-grid h2 {
                text-align: left;
            }

            .mini-container-text {
                padding: 25px 20px;
                border-left: 3px solid blue;
                margin-top: 15px;
                background-color: #fff;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            }

            .services-grid-2-boxes {
                display: flex;
                width: 52%;
                padding-left: 3.7%;
                justify-content: space-between;
                text-align: center;
                

                .boxes {
                    background-color: #fff;
                    width: 250px;
                    height: auto;
                    padding: 20px 15px;
                    border-radius: 5px;
                    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                    text-align: center;

                    img {
                        margin: 0 auto;
                        width: 55px;
                    }
                }
            }

            .section-2{
                margin-top: 3%;

                .row-2 {
                    display: flex;
                    justify-content: space-between;

                    .boxes {
                        background-color: #fff;
                        width: 250px;
                        height: auto;
                        padding: 15px;
                        border-radius: 5px;
                        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                        text-align: center;

                        li {
                            list-style-type: none;
                        }

                        .fa-check {
                            color: #2ecc71;
                        }
    
                        img {
                            margin: 0 auto;
                            width: 55px;
                        }
                    }
                }
            }
        }
    }

/* --------------------------------------- */
/* Mobile Design Section  */
/* --------------------------------------- */

    .mobile-section-bg {
        position: relative;
        display: flex;
        background-image: url("/assets/Client Website Images/background-image-folder/mobile-design-2.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 100vh;

        .intro-text {
            position: absolute;
            display: flex;
            width: 45% !important;
            flex-direction: column;
            top: 50%;
            left: 50%;
            transform: translate(8%, -50%);
            display: flex;
            width: 40%;
            padding: 10px 40px;

            h1 {
                margin-bottom: 10px;
                font-size: 4rem;
                line-height: 4rem;
                text-align: left;
                color: #fff;
                text-shadow: 2px 4px 3px rgba(0,0,0,0.9);
            }

            .mobile-info-container {
                padding: 15px;
                border-radius: 5px;
                background-color: #fff;
                box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
                opacity: 0.95;

                p {
                    margin-bottom: 5px;
                    line-height: 23px;
                    color: #000;
                    font-weight: bold;
                }
                ul {
                    i {
                        color: #2ecc71;
                    }
                    li {
                        text-align: center;
                        list-style-type: none;
                    }
                }
            }
        }
    }

/* --------------------------------------- */
/* About Me Section */
/* --------------------------------------- */ 

section.about-me {
    width: 100%;
    margin: 2% auto 0;
    overflow: hidden;

    .timeline {
        margin: 0 auto;

        .progress-bar {

            li {
                position: relative;
                float: left;
                width: 45%;
                list-style-type: none;
                text-align: center;

                &.grid-5 {
                    display: inline-block;
                    margin-bottom: 60px;
                }

                &.grid-5:nth-child(5), &.grid-5:last-child {
                    margin-bottom: 0;
                }

                &::before {
                    content: "";
                    display: block;
                    width: 50px;
                    height: 50px;
                    border: 2px solid #000;
                    border-radius: 50%;
                    margin: 0 auto 20px;
                    line-height: 50px;
                    text-align: center;
                    background-color: #fff;
                    z-index: 10;

                }

                &.active {
                    color: #27ae60;
                }

                &.active::before {
                    border-color: #27ae60;
                }

                &:first-child::before {
                    content: "1";
                }

                &:nth-child(2)::before {
                   content: "2";
                }

                &:nth-child(3)::before {
                    content: "3";
                }

                &:nth-child(4)::before {
                    content: "4";
                }

                &:nth-child(5)::before {
                    content: "5";
                }

                &:last-child::before {
                    content: "6";
                }

                &::after {
                    content: '';
                    position: absolute; 
                    width: 0%;
                    height: 2px;
                    top: 25px;
                    left: -50%;
                    z-index: -1;
                }

                &::first-child::after {
                    content: none;
                }

                &.active + &::after {
                    background-color: #2ecc71;
                }
            }
        }

        .progress-bar-animation {
            .progress-bar {
                li {
                    &:nth-child(2)::after {
                        transition: width 3s linear;
                        width: 400%;
                        background-color: #2ecc71;
                    }

                    &:nth-child(3)::after {
                        transition: width 3s linear;
                        transition-delay: 1.4s;
                        width: 400%;
                        background-color: #2ecc71;
                    }

                    &:nth-child(5)::after {
                        transition: width 2s linear;
                        transition-delay: 3.5s;
                        width: 200%;
                        background-color: #2ecc71;
                    }
                }
            }
        }
    }
}


/* --------------------------------------- */
/* Footer Section */
/* --------------------------------------- */ 

footer {
    position: relative;
    width: 90%;
    margin: 8% auto 0;

    .form-container {
        width: 60%;
        height: 400px;
        border-radius: 10px;
        margin: 0 auto;
        background-color: #222f3e;
        border: 1px solid #000;
        
        .form-header-section {
            background-color: #353b48;
            border-radius: 10px;
            height: 30px;
            clear: both;

            .icons {
                position: relative;
                margin-left: 2%;
                height: 100%;
                ul {
                    position: absolute;
                    top: 11px;
                    left: 0;
                    height: 100%;
                    li {
                        border-radius: 50%;
                        display: inline-block;
                        list-style-type: none;
                        vertical-align: top;
                        margin: 0 1px;
                        width: 8px;
                        height: 8px;
                        
                    }
                    .red {
                        background-color: #ff3838;
                        cursor: pointer;
                    }
                    .yellow {
                        background-color: #fff200;
                    }
                    .green {
                        background-color: #32ff7e;
                        cursor: pointer;
                    }
                }
            }
        }
        .contact-us-grid-1,
        .contact-us-grid-2 {
            display: inline-block;
            width: 40%;
            margin-top: 30px;
        }
        .contact-us-grid-1 {
            float: left;
            margin-left: 30px;
            h3 {
                position: relative;
                text-align: left;
                color: #eb3b5a;
                font-size: 25px;
                &:after {
                    content: '_';
                    position: absolute;
                    display: block;
                    top: 6px;
                    left: 2px;
                }
            }
        }
        .contact-us-grid-2 {
            float: right;
            margin-right: 30px;
            form {
                div {
                    input {
                        width: 100%;
                        padding: 10px 0 10px 0;
                        background-color: transparent;
                        border-bottom: 2px solid #778ca3;
                        color: #fff;
                        &:focus {
                            outline: none;
                            &::placeholder {
                                visibility: hidden;
                            }
                        }
    
                        &::placeholder {
                            font-family: "Montserrat";
                            text-transform: uppercase;
                            font-size: 12px;
                            color: #fff;
                            opacity: 0.5;
                        }
                    }
                    select {
                        border-bottom: 2px solid #778ca3;
                        margin-bottom: 5px;
                        background-color: transparent;
                        color: #fff;
                        &:focus {
                            outline: none;
                        }

                        option {
                            background-color: transparent;
                            color: #000;
                        }
                    }

                }
                h3 {
                    margin-top: 15px;
                    margin-bottom: 5px;
                    color:#fff;
                    text-align: left;
                }

                textarea {
                    width: 100%;
                    margin-top: 10px;
                    background-color: transparent;
                    color: #fff;
                    border-bottom: 2px solid #778ca3;

                    &:focus {
                        outline: none;
                    }

                    &::placeholder {
                        color: #fff;
                        font-family: 'Montserrat';
                        opacity: 0.5;
                    }
                }
            
            }
            button {
                padding: 10px 20px;
                border-radius: 5px;
                margin-top: 5px;
                background-color:#eb3b5a;
                color: #fff;
                cursor: pointer;
            }
        }
    }

    .superSizeMe {
        transform: scale(1.03);
    }

    .social-icons-container {
        width: 90%;
        padding-left: 11%;

        .title h3 {
            margin-top: 25px;
            font-size: 20px;
            text-align: center;
        }

        .social-icons-grid {
            width: 70%;
            margin: 0 auto;
            ul {
                display: flex;
                justify-content: center;
                margin-top: 15px;

                li {
                    display: inline-block;
                    margin-bottom: 50px;
                    list-style-type: none;
                    text-align: right;

                    a {
                        display: inline-block;
                        height: 45px;

                        i {
                            color: #000;
                        }

                        p.i-text {
                            position: relative;
                            display: inline-block;
                            height:100%;
                            margin-left: 10px;
                            vertical-align: middle;
                            font-family: $main-font;
                            font-size: 15px;

                            &::after {
                                content: "";
                                position: absolute;
                                display: block;
                                width: 0;
                                height: 50%;
                                border-bottom: 2px solid #2980b9;
                                top: 0;
                                bottom: 0;
                                left: 0;
                                right: 0;
                            }
                        }

                        &:hover p::after {
                            width: 20px;
                            transition: width 1s;
                        }

                
                        .instagram {
                            color: #fc5c65;

                            &:hover {
                                color: #eb3b5a;
                            }
                        }

                                              
                    }
                }
            }
        }
    }
    .ending {
        text-align: center;
        padding: 20px 0;
    }
} 


.header-actions-action{
    padding: 10px 20px;
    margin: 0 auto;
    width: 300px;
    background-color:green;
    color: #000;

    a {
        color: #000;
    }
}

.test-form {
    width: 60%;
    text-align: center;
    margin: 0 auto;

    .showDaFormBtn {
        padding: 10px 20px;
        background-color: navy;
        color: #fff;
        cursor: pointer;
    }

    .showDaForm {
        display: none;
    }
    form {
        text-align: center;
        input {
            width: 30%;
            display: block;
            padding: 10px 0 10px 10px;
            border: 2px solid #000;
            border-radius: 5px;
            margin: 0 auto 10px;
        }
        // adds error class if not filled in
        .error {
            border: 2px solid #ff3f34; 
        }

        button {
            padding: 10px 20px;
            background-color: #40739e;
            color: #fff;
            cursor: pointer;
        }
        select {
            border: 2px solid #000;
            border-radius: 5px;
            padding: 10px 0 10px 5px;
        }
    }
    .form-1,
    .form-2,
    .form-3 {
        margin-bottom: 10px;
    }
    .form-2,
    .form-3 {
        display: none;
    }
}
/* --------------------------------------- */
/* Media Queries */
/* --------------------------------------- */ 

/* Big tablet to 1200px (widths smaller than the 1140px row) */
@media only screen and (max-width: 1200px){
    
 
}

/* Small tablet to big tablet: from 766px to 1023px */
@media only screen and (max-width: 1023px){
    
    .nav-list li {
        font-size: 1.56vw;
        line-height: 1.56vw;
    }
    
    .skills .grid-3 {
        .sass img, 
        .bootstrap img, 
        .heroku img {
            width: 50px;
        }
    }
    
    section.about-me {
        width: 100%;
    }

    footer {
        .form-container {
            width: 80%;
            margin: 0 auto;

            .footer-info h3 {
                font-size: 18px;
            }

            form {
                .animated-label, .submit {
                    font-size: 14px;
                }
            }
        }

        .social-icons-container {
            width: 100%;

            .title h3 {
                font-size: 18px;
            }
        }
    }
}

/* Small phones to small tablets from 481px to 767px */
@media only screen and (max-width: 767px){


    @-webkit-keyframes wiggle {
        0% {
            -webkit-transform: rotate(15deg);
        }

        50% {
            -webkit-transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate(15deg);
        }
    }

    a.btt {
        bottom: 33px;
        right: 20px;
    }

    .animated-mario-container.first-mario,
    .animated-luigi-container,
    .animated-bowser-container {
        display: none;
    }

    header.header-main {
        .intro {
            float: left;
            width: auto;
            left: 5%;

            p {
                display: block;
                padding-left: 0;
            }

            .itsTimeToWiggle {
                -webkit-tranform: rotate(5deg);
                transform:rotate(5deg);
                animation-name: wiggle;
                -webkit-animation-duration: 1.5s !important;
                -webkit-animation-iteration-count: infinite;
                -webkit-transition-timing-function: ease;
                -webkit-animation-fill-mode: forwards;
                -webkit-animation-ease: ease-in;
                color: #2ecc71;
            }
        }

        .customBG{
            width: 90%;
            background-color: #fff;
            padding: 5px 15px;
            border-radius: 10px;
            box-shadow: rgba(0, 0, 0, 0.44) 0px 3px 8px;
        }

        nav {
            position: relative;
            margin-top: 1%;
            float: right;

            .nav-list-container {
                .nav-list {
                    li {
                        display: block;
                        margin: 0 0 5% 0;
                        font-size: 16px;
                        line-height: 16px;
                        cursor: pointer;
                        z-index: 10001;

                        a::after {
                           display: none;
                        }
                    }
                }
            }
        }
    }

    .h1Small {
        font-size: 21px !important;
        line-height: 21px !important;
        color: #000 !important;
        text-shadow: none !important;
    }

    .pSmall {
        display: block !important;
        font-size: 12px !important;
        font-weight: bold;
        color: #000 !important;
        text-shadow: none !important;
    }

    .aSmall {
        font-size: 16px !important;
        color: #000 !important;
        text-shadow: none !important;
    }

    .phoneSmall {
        font-size: 14px !important;
    }

    .aboveNavNumber {
        position: absolute;
        padding: 10px 0;
        top: 2px;
        right: 15px;
        width: auto;
    }

    .intro-section-bg {
        .intro-text {
            width: 100%;
        }
        h1 {
            font-size: 3rem !important;
            line-height: 3rem !important;
        }
        p {
            display: none;
        }
    }
    .services-section {
        padding: 65px 35px;
    }
    .services-container {
        max-width: 100% !important; 

        .section-1 {
            display: block !important;
            width: 100%;

            .first-row {
                width: 100%;
            }

            .services-grid-2-boxes {
                display: block;
                width: 100%;
                padding: 0;
                margin: 5% auto;

                .boxes {
                    width: 100%;
                    margin: 5% auto;
                }
            }
        }

        .section-2 {
            .row-2 {
                display: block !important;
            

                .boxes {
                    width: 100% !important;
                    margin: 5% auto;
                }
            }
        }
    }

    .section-2 {
        display: block !important;
        width: 100%;
    }

    .projects-grid {
        .title {
            h2 {
                font-size: 25px;
            }
        }
        .grid-1 {
            width: 100%;
            margin-bottom: -25px !important; 

           .image-container {
               display: block;
           }

           a {
               height: 325px;
           }

           .smaller-image-container {
               position: relative;
               top: -20%;
               left: 25%;
           }
        }

        .grid-2, .grid-2-of-3 {
            width: 100%;
        }

        .grid-2 {
            .box-cont:first-child, 
            .box-cont {
               margin-bottom: 5%;
           }
        }
    }

   .mobile-section-bg {
       background-position: 19% 100%;

       .intro-text {
            position: relative;
            width: 100% !important;
            padding: 10px 25px !important;
            transform: none;
            top: 45px;
            left: 0;
            text-align: center;

           h1 {
               text-align: center;
           }

           .mobile-info-container {
           
           }
       }
   }

    section.about-me {
        .progress-bar {
            li {
                font-size: 13px;
                line-height: 13px;

                &::before {
                    width: 35px;
                    height: 35px;
                    line-height: 35px;
                }

                &::after {
                    top: 20px;
                }
            }
        }
    }

    footer {
        .form-container {
            width: 95%;
            height: auto;

            .contact-us-grid-1,
            .contact-us-grid-2 {
                display: block;
                float: none;
                width: 85%;
                margin: 0 auto;
            }

            .contact-us-grid-1 {
                padding-top: 20px;
            }
            .contact-us-grid-2 {
                padding-bottom: 20px;
            }

            .contact-us-grid-1 {
                h3 {
                    margin-top: 0;
                }
            }
        }
        
        .social-icons-container {
            padding: 0;
            
            .title {
                h3 {
                    text-align: center;
                }
            }

            .social-icons-grid {
                width: 100%;
                ul {
                    display: flex;
                    width: 80%;
                    margin: 0 auto;
                    li {
						a {
                            text-align: center;
							p {
								display: block;
							}
						}
                    }
                }
            }
        }
    }
}

/* Small phones from 0 to 480px */
@media only screen and (max-width: 480px){
    
    header.header-main {
        margin: 5% auto 0;


        .nav-list-container {
            .nav-list {
                li {
                    font-size: 14px;
                    line-height: 14px;
                }
            }
        }
    }

    .intro-section-bg {
        .intro-text {
            h1 {
                text-align: center;
                text-shadow:0.07em 0 black, 0 0.07em black, -0.07em 0 black, 0 -0.07em black;
                letter-spacing: 1.2px;
            }
        }
    }

    .mobile-section-bg {
        .intro-text {
            transform: scale(0.95);
            position: relative;
            justify-content: center;

            h1 {
                font-size: 3.5rem;
                line-height: 3.5rem;
                text-shadow:0.07em 0 black, 0 0.07em black, -0.07em 0 black, 0 -0.07em black;
                letter-spacing: 1.2px;
            }
        }
    }

    .projects-grid {
        .grid-1 {
            width: 100%;
            margin-bottom: 10%;

           .image-container {
               display: block;
           }

           a {
                height: 325px;
           }

           .smaller-image-container {
               position: relative;
               top: -20%;
               left: 25%;
           }
        }
    }

    .seo-section {
        .grid-1-of-3 {
            width: 100%;
        }
    }

    footer.contact-me-section {
		
		.avatar-container,
		.social-icons-container {
			width: 100%;
			margin: 0 auto;
			float: none;
		}
		
		.avatar-container {
			margin-top: 15%;
		}
		
        .social-icons-container {
			margin-top: 15%;
            .social-icons-grid {
                ul {
                    li {
                        .i-text {
                            display: block;
                            margin-left: 0;
                        }
                    }
                }
            }
        }
    }
}