@import url(http://fonts.googleapis.com/css?family=Exo:400,500,700,800,900,400italic,500italic);
@import url(http://fonts.googleapis.com/css?family=Fredoka+One);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900);
html, body {
  height: 100%;
  width: 100%; }

body {
  font-family: "Exo"; }

figure {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-animation: move-up 1s 3s ease forwards; }
  figure:nth-child(2) {
    opacity: 0;
    -webkit-animation: fade-in 1s 3.8s ease-in forwards; }
  figure span {
    opacity: 0; }
    figure span:nth-child(1) {
      -webkit-animation: fade-in 1.6s -0.75s ease-in forwards; }
    figure span:nth-child(2) {
      -webkit-animation: fade-in 1.6s -0.5s ease-in forwards; }
    figure span:nth-child(3) {
      -webkit-animation: fade-in 1.6s -0.25s ease-in forwards; }
    figure span:nth-child(4) {
      -webkit-animation: fade-in 1.6s 0s ease-in forwards; }
    figure span:nth-child(5) {
      -webkit-animation: fade-in 1.6s 0.25s ease-in forwards; }
    figure span:nth-child(6) {
      -webkit-animation: fade-in 1.6s 0.5s ease-in forwards; }
    figure span:nth-child(7) {
      -webkit-animation: fade-in 1.6s 0.75s ease-in forwards; }
    figure span:nth-child(8) {
      -webkit-animation: fade-in 1.6s 1s ease-in forwards; }
    figure span:nth-child(9) {
      -webkit-animation: fade-in 1.6s 1.25s ease-in forwards; }
    figure span:nth-child(10) {
      -webkit-animation: fade-in 1.6s 1.5s ease-in forwards; }
    figure span:nth-child(11) {
      -webkit-animation: fade-in 1.6s 1.75s ease-in forwards; }

@-webkit-keyframes move-up {
  100% {
    transform: translate(-50%, -140px); } }
@-webkit-keyframes fade-in {
  100% {
    opacity: 1; } }
.space1 {
  letter-spacing: 15px; }

.space2 {
  letter-spacing: -15px; }

.main {
  position: relative;
  background-image: url("../assets/newyork.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%; }
  .main:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, red, dodgerblue);
    opacity: .6; }
  .main figure {
    display: flex;
    flex-wrap: nowrap;
    font-weight: 700;
    color: white;
    font-size: 6.5em;
    z-index: 10; }
    @media (max-width: 520px) {
      .main figure {
        font-size: 6.5vh; } }
    .main figure p {
      font-size: 0.5em;
      font-weight: 700;
      white-space: nowrap; }
      @media (max-width: 730px) {
        .main figure p {
          font-size: 3.5vh; } }

#about {
  padding: 50px 0 75px 0;
  background-image: url("../assets/city.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

.about-header {
  padding-top: 40px;
  padding-bottom: 30px;
  text-align: center; }
  .about-header h1 {
    font-weight: 700;
    color: #FFF;
    font-size: 6vh; }
    @media (max-width: 990px) {
      .about-header h1 {
        font-size: 48px; } }

.col-md-3 img {
  max-width: 100%; }

.box {
  padding: 30px 30px;
  background-color: white; }
  @media (max-width: 400px) {
    .box {
      font-size: 16px; } }
  .box p {
    font-size: 1.9vh; }

.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap; }
  .contact a {
    text-decoration: none;
    color: white;
    cursor: pointer; }
  .contact li {
    list-style-type: none; }

p {
  font-size: 16px; }

.jumbotron {
  margin-top: 10px;
  background: -webkit-linear-gradient(deepskyblue, dodgerblue); }

.heading {
  font-size: 7vh;
  text-decoration: underline; }

.row {
  margin-top: 100px; }

.line {
  line-height: 2px;
  border-color: #ccc; }

img {
  max-width: 100%; }

.image2 {
  margin-bottom: 50px;
  width: 85%;
  height: 85%;
  margin-left: auto;
  margin-right: auto;
  display: block; }
  @media (max-width: 1007px) {
    .image2 {
      margin-top: 15px; } }

.image3 {
  vertical-align: bottom; }

@media (max-width: 1007px) {
  .pom-btn {
    margin-bottom: 15px; } }

/*# sourceMappingURL=style.css.map */
