@import url(http://fonts.googleapis.com/css?family=Montserrat);
@import url(http://fonts.googleapis.com/css?family=Montaga);
@import url(http://fonts.googleapis.com/css?family=Play);
* {
  margin: 0px;
  padding: 0px; }

body, html {
  width: 100%;
  font-family: 'Montserrat'; }


