@import url(http://fonts.googleapis.com/css?family=Montserrat);
@import url(http://fonts.googleapis.com/css?family=Montaga);
@import url(http://fonts.googleapis.com/css?family=Play);


@mixin borders {
  border-left: 2px solid #FFF;
  border-right: 2px solid #FFF;
}

@mixin image-layout-position {
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  z-index: 0;
}

@mixin font-margin {
  font-size: 40px;
  margin: 30px 10px;
}

* {
  margin: 0px;
  padding: 0px;
}

body, html {
  width: 100%;
  font-family: 'Montserrat';
}

.image {
  width: 100%;
  height: 800px;
}

.projects-container {
  margin-bottom: 10em;
  .projects-header {
    position: relative;
    margin: 60px 30px;
    font-family: 'Montserrat';
    font-size: 45px;
  }
  .title {
    text-align: center;
    font-size: 30px;
    margin: 10px 0;
  }
}



span{
  color: deepskyblue;
}

.rotate {
  color: #fff;
  font-size: 30px;
}

#intro {
  padding: 600px 0 160px 0;
  text-align: center;
  color: #fff;
  .col-md-12 h1 {
    font-size: 64px;
    font-weight: 700;
    margin: 5px 0 15px;
  }
}

.section {
  width: 100%;
  height: 800px;
  background-image: url('../assets/nyc1.png');
  @include image-layout-position
}


  #wall_2 {
  background-image: url('../assets/nyc5.jpg');
  @include image-layout-position
}


img {
  max-width: 100%;
  height: auto;
}


.col-md-4 {
  margin: 15px 0;
  p {
    font-size: 1.2em;
    text-align: justify;
  }
}

.col-md-4 .btn {
  position: relative;
  top: 43%;
  left: 43%;
}

.content {
  margin: 30px 30px;
  p {
    font-size: 1.4em;
  }
}


.btn {
  margin: 1.5em 0;
}

.social ul {
  display: flex;
  justify-content: center;
  color: deepskyblue;
  list-style-type: none;
  margin-bottom: 150px;
  li {
    margin-left: 10px;
  }
}


.about-me-description {
 @include font-margin
}

.skill-set {
  margin: 30px 10px;
  .about-me {
    @include font-margin
    }
  }
.skill-bar {
  background: #C4C4C4;
  display: table;
  height: 4px;
  width: 20%;
  .skill-rate-on {
    background: red;
    display: table-cell;
    @include borders
  }
  .skill-rate-off {
    display: table-cell;
    @include borders
  }
}


